header
{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 6px 10px 10px 10px;
    border-bottom-right-radius: 26px;
    z-index: 100;
    background-color: rgba(5, 0, 0, 0.5);
    will-change: transform;
}

h1
{
    text-transform: uppercase;
    font-weight: 700;
    color: yellow;
    font-family: fantasy;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

p
{
    width: 60%;
    font-size: 40px;
}

section
{
    text-align: center;
}

section p
{
    font-size: 60px;
    color: yellow;
    text-transform: uppercase;
}

section p span
{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
    font-size: 80px;
    font-family: fantasy;
    text-shadow: -3px 4px rgb(158, 158, 4);

}